<!DOCTYPE html>
<html ng-app="sheetApp">
<head>
  <title>Amogha Medicals</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="SheetController">

  <div>
    <h3>Amogha Medicals</h3>
     <div>
      <input type="text" ng-model="nameFilter" placeholder="Filter by Particulars">
    </div>
     <table border="1">
      <tr>
        <th ng-repeat="header in sheetData[0]">{{ header }}</th>
      </tr>
      <tr ng-repeat="row in sheetData.slice(1) | filter:filterByName">
        <td ng-repeat="cell in row track by $index">{{ cell }}</td>
      </tr>
    </table>
  </div>

  <script>
     var app = angular.module('sheetApp', []);

    app.controller('SheetController', function($scope, $http) {
      var sheetId = '1IoPvU2jKjnAUknBogksGrPrEXPyRYoYZnht_1DV-1qQ';
      var sheetName = 'Inventory';
      var apiKey = 'AIzaSyC-URv1x_ccwdwwK-wpS--TJ7wbkWR9wDI';
       $scope.nameFilter = '';

      $scope.filterByName = function(row) {
        const filterText = $scope.nameFilter?.toLowerCase() || '';
        const firstColumn = row[3]?.toLowerCase() || '';
        return firstColumn.includes(filterText);
      };
      var url = `https://sheets.googleapis.com/v4/spreadsheets/${sheetId}/values/${sheetName}?key=${apiKey}`;

      $http.get(url).then(function(response) {
        $scope.sheetData = response.data.values;
      }, function(error) {
        console.error('Error fetching sheet:', error);
      });
    });

  </script>
</body>
</html>

